* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
a {
    text-decoration: none; /*link thường bỏ gạch chân nên để mặc định luôn */
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px; /* 175% */
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);

    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
}


.line-clamp {
    /*hạn chế số dòng nhập , nếu nhiều hơn thì hiển thị đấu ...*/
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    /*nếu câu văn viết liền không dấu cách sẽ xiên qua nên xài word-break*/
    word-break: break-all;
}

/* Header */
.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky; /*để neo lại nội dung header cuộn không bị trôi đi ta dùng sticky*/
    top: -28px; /*muốn còn 8px neo lại : 36px - 8px = 28 px */
    z-index: 1; /*ảnh đè lên cái header và nav nên cho z-index =1 */
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor; /*nếu làm hover bằng font-weight : 600 nội dung sẽ ngật ngật nên xài text-shadow*/
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 0px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/*------HERO -------- */

.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%; /*width 570 / 1170 = 0,48 *100 = 48% */
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom; /*do hình ảnh cũng có linebase 
                            vi du : g , nét chân chữ G là vướt qua linebase . nên img cũng có 
                            hay xài (display : block để xóa đi line)*/
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .infor {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}
/* --------hero right--------- */
.hero .content-block {
    width: 52%; /*100%-48%=52% */
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer; /*Cảm giác nhấn nút */
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
}

/* -------popular --------- */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between; /*mỗi bên 1 đầu*/
}
.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
    width: 40px;
    height: 40px;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

/* Course-list */

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover; /*để ảnh ko bị biến dạng */
    border-radius: 12px 12px 0 0;
}

.popular .course-item .info {
    padding: 12px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between; /*cách đều 2 đầu */
}

.popular .course-item .title a {
    padding-right: 8px; /*để khi nội dung gần đúng với ngôi sao chưa hiển thị ... sẽ cách ngôi sao ra 8px*/
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popular .course-item .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.popular .course-item desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* --------Feedback------------ */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden; /*khi phần tử con vượt qua phần tử cha thì hidden ẩn nó đi*/
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0; /*xóa bỏ sự ép lại của khung*/
    width: 100%; /*kích thước ko bị quá cái khung 1170 px */
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover; /*chống méo ảnh*/
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    margin-right: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53; /* 153.846% */
}

/* ----features---- */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px; /*cho nó ngang nhau cách nhau 30px*/
}

.features .images img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 40.17%;
    display: flex;
    flex-direction: column; /*mặc định là chiều row , đổi trục thành colums*/
    align-items: flex-start; /*bát đầu canh điểm bắt đầu */
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    min-width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* ------ Blog------ */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto auto;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden; /*vượt qua width 1170px sẽ bị ẩn đi */
}

.blog .item {
    flex-shrink: 0; /*9 item width sẽ bị nén lại xài flex-shrink để ko bị nén lại */
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background: #fff;
    
}

.blog .item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
font-size: 1.6rem;
font-weight: 600;
line-height: 1.75; /* 175% */
}

.blog .item .btn {
   font-size: 1.4rem; 
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.blog .dot {
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #5F5B53;
   cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* ------footer------ */
.footer {
    padding: 96px 135px 0;
    background: #2E2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}
.footer .row .column {
    width: 21.6%;
}
.footer .row .column:first-child {
    width: 35%;
}

.footer .column .desc {
    margin-top: 18px;
    max-width: 267px;
    color: #BFBCB2;
font-size: 1.4rem;
line-height: 1.85; /* 185.714% */
}

.footer .socials {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554B; /*do gạch chân không có border-radius*/
    color: #FFF;
font-size: 1.6rem;
font-weight: 600;
line-height: 1.75; /* 175% */
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #BFBCB2;
font-size: 1.4rem;
line-height: 1.85; /* 185.714% */
}

.footer .list li:last-child a {
    margin-bottom: 0px;
}

.footer .list strong {
    color: #FFF;
font-size: 1.4rem;
font-weight: 600;
line-height: 1.85; /* 185.714% */
}

.footer .copyright {
    padding: 28px 0;
    text-align: center;
    color: #807D74;
font-size: 1.4rem;
line-height: 1.85; /* 185.714% */
}